<div class="main-content">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Perfil</h4>
                            <p class="card-category"> Aqui encontraras tu perfil</p>
                            <div class="logo">
                                <div class="dropdown show" id="dropdownMenuLink1">
                                    <a class="btn btn-danger btn-large dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="background-color:#eee; color: white; ">
                                        Menu
                                    </a>
                                    
                                </div>
                            </div>
                        </div>

                        <table aling="left" border="0" width="100%" cellpadding="5" cellspacing="5">
                            <tr>
                                <td width="50%">
                                    <img style="float:left; margin:10px;" class='imgRedonda' alt=""
                                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                                    <br>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                    <br>
                                    <input type="text" [(ngModel)]="perfil.first_name" [disabled]="habilitar">
                                    <br><input type="text" [(ngModel)]="perfil.last_name" [disabled]="habilitar">
                                    <br><input type="text" [(ngModel)]="perfil.email" [disabled]="habilitar"><br>
                                    <input type="text" [(ngModel)]="perfil.carr_estudiante" [disabled]="true"><br>
                                    <input type="text" [(ngModel)]="perfil.username" [disabled]="true"><br>
                                    <br>
                                    <button type="submit" class="btn btn-white btn-round "
                                        style="background-color:#ea4541; color: beige; " (click)="EditarPerfilFunc()">
                                        {{EditarPerfil}}
                                    </button>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-10%">
                                            <div>
                                                <span>. . .</span>
                                               
                                            </div>
                                        </div>
                                        <div class="col-lg-45%">
                                            <div class="col-lg-100% col-md-100%">
                                                <div class="card">
                                                    <div class="card-header card-header-tabs card-header-danger">
                                                        <div class="nav-tabs-navigation">
                                                            <div class="nav-tabs-wrapper">
                                                                <span class="nav-tabs-title">Materias: </span>
                                                                <td class="td-actions text-right">
                                                                    <!--button mat-raised-button type="button" matTooltip="Agregar Materia"
                                                                        [matTooltipPosition]="'above'"
                                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                        <i class="material-icons">add</i>
                                                                    </button-->
<!-- Menu materias -->
                                                                    <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu" matTooltip="Agregar Materia" [matTooltipPosition]="'above'">
                                                                        <mat-icon>add_circle_outline</mat-icon>
                                                                      </button>
                                                                    <mat-menu #menu2="matMenu" [overlapTrigger]="false" >

                                                                        <form class="col-md-12 " (keydown.tab)="$event.stopPropagation()" >
                                                                            
                                                                            
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <mat-label>Nombre Materia</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of nombreMaterias" [value]="food.value" (click)="setNombreMateri(food.value)" >
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;" >
                                                                                <mat-label>Di a de la semana</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of dias_semana" [value]="food.value" (click)="setDiaMateri(food.value)" >
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <mat-label>Hora de inicio</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of horas" [value]="food.value"(click)="setFFinMateri(food.value)" >
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <mat-label>Hora de finalización</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of horas" [value]="food.value"(click)="setFInicioAct(food.value)">
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            
                                                                            
                                                                        </form>
                                                                        <button (click)="tomardatosmateria()" class="btn  btn-default" mat-menu-item>
                                                                        
                                                                        <span>Nuevo</span>
                                                                        </button>
                                                                        
                                                                  </mat-menu>
                                                                    
                                                                </td>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="profile">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr *ngFor="let materias of Materias">
                                                                            <th scope="row">{{materias.id_materia}}</th>
                                                                            <button (click)="EliminarM(materias)" mat-raised-button type="button" matTooltip="Eliminar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                                <i class="material-icons">close</i>
                                                                            </button>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-45%">
                                            <div class="col-lg-100% col-md-100%">
                                                <div class="card">
                                                    <div class="card-header card-header-tabs card-header-danger">
                                                        <div class="nav-tabs-navigation">
                                                            <div class="nav-tabs-wrapper">
                                                                <span class="nav-tabs-title">Actividades Extra:</span>
                                                                <td class="td-actions text-right">
                                                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="Agregar Actividad" [matTooltipPosition]="'above'">
                                                                        <mat-icon>add_circle_outline</mat-icon>
                                                                      </button>
                                                                    <mat-menu #menu="matMenu" [overlapTrigger]="false" >

                                                                        <form class="col-md-12 " (keydown.tab)="$event.stopPropagation()" >
                                                                            
                                                                            <mat-form-field class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <input matInput type="text" style="font-size:10px" name="materia" placeholder="Nombre Actividad" [(ngModel)]="miactividade.nom_rutina"
                                                                                (click)="$event.stopPropagation(); false;">
                                                                            </mat-form-field>
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <mat-label>Dia de la semana</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of dias_semana" [value]="food.value" (click)="setDiaAct(food.value)">
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <mat-label>Hora de inicio</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of horas" [value]="food.value" (click)="setFInicioAct(food.value)">
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            <mat-form-field  class="example-full-width" (click)="$event.stopPropagation(); false;">
                                                                                <mat-label>Hora de finalización</mat-label>
                                                                                <mat-select>
                                                                                    <mat-option *ngFor="let food of horas" [value]="food.value" (click)="setFFinAct(food.value)">
                                                                                      {{food.viewValue}}
                                                                                    </mat-option>
                                                                                  </mat-select>
                                                                            </mat-form-field>
                                                                            
                                                                            
                                                                        </form>
                                                                        <button (click)="tomardatosactividad()" class="btn  btn-default" mat-menu-item>
                                                                        
                                                                        <span>Nuevo</span>
                                                                        </button>
                                                                        
                                                                  </mat-menu>
                                                                </td>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="profile">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr *ngFor="let actividadesextra of ActividadesExtra">
                                                                            <th scope="row">{{actividadesextra.nom_rutina}}</th>
                                                                            <button (click)="EliminarA(actividadesextra)" mat-raised-button type="button" matTooltip="Eliminar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                                <i class="material-icons">close</i>
                                                                            </button>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
        </div>
    </div>
</div>
</div>
</td>

<td width="50%">
    <div class="row">
        <div class="col-lg-100% col-md-100%">
            <div class="card">
                <div class="card-header card-header-tabs card-header-danger">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Compañeros:</span>
<td class="td-actions text-right">
</td>
</div>
</div>
</div>
<div class="card-body">
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <table class="table">
                <tbody>
                    <tr *ngFor="let companero of Companeros">
                        <th scope="row">{{companero.Nombre}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
</div>