<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Iniciar Sesión</h4>
                        <p class="card-category"> Inicia sesión para una mayor experiencia</p>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" checked>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>                        
                   </div>
                    <div class="card-body">                     
                        <form  class="navbar-form" >
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Usuario..."[(ngModel)]="miU.username" name="nombreUsuario">                               
                            </div>
                            <div class="input-group no-border">
                                <input type="password" value="" class="form-control" placeholder="Contraseña..."  [(ngModel)]="miU.password" name="contrasena">
                            </div>
                            <div class="input-group no-border">
                                
                                <button (click)="validarLogin()" [routerLink]="['/calendario']" type="submit" class="btn btn-white btn-round " style="background-color: rgb(192, 189, 189); color: beige; ">
                                    Aceptar
                                    
                                </button>
                                <a [routerLink]="['/registro']">Eres nuevo?</a>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
