<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Actividades de {{usuario.username}} con el token: {{token}} </h4>
                        <p class="card-category"> Aqui encontraras tus actividades programadas durante el transcurso de
                            la semana</p>

                            <div class="logo">
        
                                        <div class="dropdown show" id="dropdownMenuLink1">
                                <a class="btn btn-danger btn-large dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                                </a>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="prueba">
                                    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item" >
                                            <a class="nav-link" [routerLink]="[menuItem.path]"  id="probando">
                                                <i class="material-icons">{{menuItem.icon}}</i>
                                                <p id="probando"  >{{menuItem.title}}</p>
                                            </a>
                                        </li>
                                </div>
                                </div>
                                        
                                </div>
                                <div class="sidebar-wrapper">
                                
                                    <ul class="nav">
                                        
                                    </ul>
                                </div>


                    </div>  

                    <button (click)="agregartarjeta()"><mat-icon>add_circle_outline</mat-icon></button>
                    <div class="row ">
                    <div class="col-2 " *ngFor="let item of tarjetas">
                        <div class="">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">content_copy</i>
                                    </div>
                                    <p class="card-category">Used Space</p>
                                    <h3 class="card-title"> {{item.nombre}}
                                        <small>GB</small>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value=""[(ngModel)]="item.estado" (click)="estadoTarjeta(item)">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>


 
 