<div  style="width: auto; height: 10%;   background: linear-gradient(60deg, blue-900, blue-600); margin: 0px; padding: 0px;" >
    <div class="row">
    <div class="dropdown show" id="dropdownMenuLink1" >
        <a class=" btn btn-facebook btn-large dropdown-toggle" style="background-color: rgb(74, 86, 255);" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
        </a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="prueba">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item" >
                    <a class="nav-link" [routerLink]="[menuItem.path]"  id="probando">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p id="probando"  >{{menuItem.title}}</p>
                    </a>
                </li>
        </div>
        </div>
        
        <a href="#"><mat-icon>exit_to_app</mat-icon></a>
    </div>
</div>
<div class="main-content">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <table aling="left" border="0" width="100%" cellpadding="5" cellspacing="5">
                            <tr>
                                <td width="75%">
                                    <h4 class="card-title ">Perfil</h4>
                                    <p class="card-category"> Aqui encontraras tu perfil</p>
                                </td>
                                <td width="20%">
                                    <img style="float:left; margin:10px;" class='imgRedonda2' alt=""
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                                <br>
                                    <p>Nombre de estudiante grande y completo</p> 
                                </td>
                                <td width="5%">
                                    <div class="logo">
                                        <div class="dropdown show" id="dropdownMenuLink1">
                                            <a class="btn btn-danger " href="#"
                                                role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"
                                                style="background-color:blue; color: white; width: 0.1%;">
                                                <mat-icon>more_vert</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="card-body">
                        




 <!--       -----------------------------------------------------------------------------------       -->                       
                        <div class="row">
                        
                            
                            <!--     mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm  
                                    -->
                                    
                                        <div class="col-lg-6 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-tabs card-header-danger">
                                                    <div class="nav-tabs-navigation">
                                                        <div class="nav-tabs-wrapper">
                                                            <span class="nav-tabs-title">Mis Objetivos:</span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="profile">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr *ngFor="let obj of listaObjetivos" >
                                                                        
                                                                        <td >{{obj.nom_objetivo}}</td>
                                                                        <td class="td-actions text-right" >
                                                                            <button (click)="seleccionar(obj)" mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                                                <i class="material-icons">edit</i>
                                                                            </button>
                                                                            <button (click)="eliminar(obj)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                                                <i class="material-icons">close</i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                        

                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-danger">
                                        <h4 class="card-title">Nuevo objetivo</h4>
                                        <p class="card-category">New employees on 15th September, 2016</p>
                                    </div>
                                    <div class="card-body table-responsive">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Nombre del Objetivo" type="text" [(ngModel)]="miObjetivo.nom_objetivo">
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                              <textarea matInput placeholder="Descripción" type="text" [(ngModel)]="miObjetivo.des_objetivo"></textarea>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput  type="date" [(ngModel)]="miObjetivo.fecha_finalizacion">
                                            </mat-form-field>
                                          </div>
                                
                                          <button  type="submit" class="btn btn-default btn-round "  (click)="summit()">
                                            {{botonSummit}}
                                            
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>