<div class=wrapper>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Pagina Principal</h4>
                        <p class="card-category"> Bienvenido!!</p>  
                    </div>
                    <div class="card-body"  >
                        <div class="input-group no-border  d-flex float-right justify-content-end align-items-right">

                            <button [routerLink]="['/login']" type="submit" class="btn btn-white btn-round "
                                style="background-color:#ea4541; color: beige; ">
                                Iniciar Sesion
                            </button>
                            <button [routerLink]="['/registro']" type="submit" class="btn btn-white btn-round "
                                style="background-color:#ea4541; color: beige; ">
                                Registrarse
                            </button>
                        </div>
                        <h4 id="titulo">APPGENDATE!</h4>
                        <div>
                            <img src="https://raw.githubusercontent.com/LauraGarcia7/Imagenes-Software/master/Logo.png"
                                align="right">
                            <p>
                                Descripcion de la aplicacion
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>