
#form_left {
    display: left;
    justify-content: left;
    align-items: left;
}

#form_right {
    display: right;
    justify-content: right;
    align-items: right;
}

.form_left{
    display: left;
    justify-content: left;
    align-items: left;   
}

.form_right {
    display: right;
    justify-content: right;
    align-items: right;
}